<!DOCTYPE html>
<html>
<head>
    <title>Passwort festlegen</title>
</head>
<body>
    <p>Hallo {{ user.first_name }},</p>
    <p>du hast deine Erika registriert. Um auf deine Daten auf erika-cloud.de zuzugreifen, musst du ein Passwort vergeben. Bitte klicke auf den untenstehenden Link, um dein Passwort festzulegen:</p>
    <p><a href="{{ reset_link }}">Passwort festlegen</a></p>
    <p>Wenn du dies nicht angefordert hast, ignoriere bitte diese E-Mail.</p>
    <p>Mit freundlichen Grüßen,</p>
    <p>Das Erika-Cloud Team</p>
</body>
</html>