{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erika Cloud</title>
    <link href="{% static 'frontend/css/main_page.css' %}" rel="stylesheet">
    <script src="{% static 'frontend/js/mainpage.js' %}" type="text/javascript"></script>
    <!--  <script src="{% static 'frontend/js/erika_web_client.js' %}" type="text/javascript"></script>-->
</head>

<body>
    <div class="header">
        <div class="logo_contrainer">
            <img src="{% static 'frontend/img/erika_cloud_logo.gif' %}" alt="Erika Cloud Logo"/>
        </div>
    </div>
    <div class="content">
        <!--    <p>Status: <span id="status"></span></p>-->
        <span>Erika: </span>
        <select id="typewriters_online" name="typewriters_online"{% if not typewriters %} disabled{% endif %}>
            {% if typewriters %}
                {% for typewriter in typewriters %}
                    <!-- Debug info -->
                    
                    Full typewriter object: {{ typewriter }}
                    erika_name value: {{ typewriter.erika_name }}                   
                    <option value="{{ typewriter.uuid }}">{{ typewriter.erika_name }}</option>
                {% endfor %}
            {% else %}
                <option value="0">Keine Erikas online</option>
            {% endif %}
        </select>
        <textarea id="erika_text" placeholder="Tell me lies..."></textarea>
        <br/>
        <button id="print_button" onclick="send_text_to_printer()" type="submit">Drucken</button>
        <button id="print_all_button" onclick="send_text_to_all_printers()" type="submit" style="display: none;">An Alle Drucken</button>
        <!-- <button type="submit" onclick="send_mqtt_msg(client, 'erika/1/show')">Anzeigen</button> -->
    </div>
</body>
</html>